.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerTitle {
  display: flex;
  flex: 1;
  gap: 10px;
  color:#123384;
  font-weight: bold;
  text-transform: uppercase;
  
  font-size: 0.875rem;
  white-space: nowrap
}
.headerItem img{
    width: 1rem;
}
.headerItem {

  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
}


.headerActions {
  flex-shrink: 0;
}

.addButton {
  background-color: #5B48F7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #4a38d1;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.emptyMessage {
  text-align: center;
  color: #777;
  padding: 20px;
}

.error {
  color: #D9534F;
  text-align: center;
}