.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(165, 164, 164, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.formContainer {
      background: #e3ecff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 650px;
  overflow: hidden; /* Para o header azul não vazar */
}

/* Header do Modal */
.formHeader {
    color: #F7F7F7;
  background: #4320F0;
  padding: 20px;
  text-align: center;
}

.formHeader h3 {
  color: white;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

form {
  padding: 30px;
  display: grid;
  /* Grid de 2 colunas para os campos */
  grid-template-columns: 1fr 1fr;
  gap: 25px; /* Espaço entre os campos */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #123384;
  font-size: 14px;
}

.inputField {
  padding: 12px 15px;
  border: 1px solid #123384;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
}

.inputField:focus {
  outline: none;
  border-color: #5B48F7;
  box-shadow: 0 0 0 2px rgba(91, 72, 247, 0.3);
}

.actions {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.actions button {
  padding: 12px 35px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 150px;
}

.cancelButton {
  background: #F7F7F7;
  color: #5B48F7;
  border: 2px solid #5B48F7;
}

.cancelButton:hover {
  background: #F7F7F7;
}

.submitButton {
  background: #5B48F7;
  color: white;
  border: 2px solid #5B48F7;
}

.submitButton:hover {
  background-color: #4a38d1;
  border-color: #4a38d1;
}

.submitButton:disabled,
.cancelButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.errorMessage {
  grid-column: 1 / -1;
  text-align: center;
  color: #D9534F;
  margin-top: 10px;
}